@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    margin: 0;
    font-family: Lato, sans-serif;
}

#logo .cls-3 {
    stroke: #ffffff;
    stroke-width: 2px;
    fill: none;
}

#logo .cls-4 {
    stroke: #f6f7fc;
    stroke-width: 2px;
    fill: none;
}

#logo .cls-5 {
    fill: #ffffff;
}

#scroll .cls-2 {
    fill: #ffffff;
}

.section-inner {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

section:not(.s1) .section-inner {
    border: 2px solid #3c3c3c;
    border-top: none;
    padding: 72px 182px 0;
}

.section-inner p {
    margin-bottom: 28px;
}

section {
    padding: 100px 0;
}

section:nth-child(odd) {
    color: #ffffff;
}

section:nth-child(even) {
    color: #3c3c3c;
}

h1, h2 {
    font-weight: bold;
    text-transform: uppercase;
}

.s1 {
    height: 100vh;
    min-height: 560px;
    position: relative;
    background: #a9b5c8 url("images/hero-bg.jpg") no-repeat center;
    background-size: cover;
    box-sizing: border-box;
}

.s1 h1 {
    font-size: 54px;
}

.s1 p {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 30px;
}

.s1 .scroll {
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: 0px;
}

section:nth-child(odd):not(.s1) .section-inner {
    border-color: #ffffff;
}

h2 {
    font: 700 34px Lato, sans-serif;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -20px;
    left: 0;
    width: calc(100% + 2px);
    margin: 0 -1px;
}

h2:before, h2:after {
    content: '';
    height: 2px;
    width: 30%;
    background: #3c3c3c;
}

section:nth-child(odd) h2:before, section:nth-child(odd) h2:after {
    background: #ffffff;
}

.s5 .col {
    position: relative;

}
.s5 .row {
    display: flex;
}
.s5 img {
    width: 95%;
    min-height: 12.5vw;
}
.s5 span {
    position: absolute;
}
/*
.s5 .col:nth-child(2){
    flex-grow: 2;
}*/
