@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@mixin hover($bg) {
  background: $bg;
  &:hover {
    background: lighten($bg, 15%);
  }
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
}

#logo .cls-3 {
  stroke: #ffffff;
  stroke-width: 2px;
  fill: none;
}

#logo .cls-4 {
  stroke: #f6f7fc;
  stroke-width: 2px;
  fill: none;
}

#logo .cls-5 {
  fill: #ffffff;
}

#scroll .cls-2 {
  fill: #ffffff;
}

#shape-1, #shape-2, #shape-3 .cls-2 {
  fill: #3c3c3c;
}

.section-inner {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  height: 100%;
}

section:not(.s1) .section-inner {
  border: 2px solid #3c3c3c;
  border-top: none;
  padding: 72px 182px 0;
}

.section-inner p {
  margin-bottom: 28px;
  line-height: 26px;
}

section {
  padding: 100px 0;
}

section:nth-child(odd) {
  color: #ffffff;
}

section:nth-child(even) {
  color: #3c3c3c;
}

h1, h2 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}

.s1 {
  height: 100vh;
  min-height: 680px;
  position: relative;
  background: #a9b5c8 url("images/hero-bg.jpg") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}

.s1 h1 {
  font-size: 54px;
}

.s1 p {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 30px;
}

.s1 .scroll {
  position: absolute;
  left: 50%;
  margin-left: -12px;
  bottom: 0;
}

section:nth-child(odd):not(.s1) .section-inner {
  border-color: #ffffff;
}

h2 {
  font: 700 34px Lato, sans-serif;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -20px;
  left: 0;
  width: calc(100% + 2px);
  margin: 0 -1px;
}

h2:before, h2:after {
  content: '';
  height: 2px;
  width: 30%;
  background: #3c3c3c;
}

section:nth-child(odd) h2:before, section:nth-child(odd) h2:after {
  background: #ffffff;
}

#s3 {
  background-image: url("images/services.jpg");
  background-size: cover;
  .section-inner {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

#s4 {
  .section-inner > div {
    margin: 30px 0 60px;
  }
  h3 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.16em;
  }
  p {
    font-size: 14px;
  }
}

.s5 {
  padding: 0;
  .row {
    display: flex;
    align-items: center;
  }
  .col {
    position: relative;
    &:nth-child(2) {
      margin: 5px 10px;
    }
    span {
      text-transform: uppercase;
    }
  }
  img {
    width: 100%;
    min-height: 12.5vw;
  }
  span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #ffffff;
  }
}

#s6 {
  .button {
    display: inline-block;
    width: 395px;
    line-height: 58px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    margin: 10px 0 55px;
    @include hover(#3c3c3c);
  }
}

footer {
  background-color: #00b5b5;
  text-align: center;
  svg {
    vertical-align: middle;
    #f-logo .cls-3, #f-logo .cls-4 {
      stroke: #3c3c3c;
    }
    #f-logo .cls-5 {
      fill: #3c3c3c;
    }
  }
}
