#r1 {
    stroke-width: 10px
}
.r2 {
    fill:  red;
}
svg {
    width: 400px;
}
.logo {
    display: block;
    width: 200px;
    height: 200px;
    background: url("Burger_King_Logo.svg") no-repeat;
}