.board{
    border:10px solid gray;
    width: 50vw;
    height: 50vw;
    margin: 100px auto;
}
/*.board:before{
    content: '';
    padding-top: 100%;
    display: block;
}*/
.row{
    height: 12.5%;
    font-size: 0;
}
.row div{
    height:100%;
    width: 12.5%;
    background: black;
    display: inline-block;
    position: relative;
}
.row:nth-child(odd) div {
    margin-right: 12.5%;
}
.row:nth-child(even) div {
    margin-left: 12.5%;
}
.row:nth-child(1) div:before,
.row:nth-child(2) div:before,
.row:nth-child(3) div:before{
    background: darkblue;
}
.row:nth-last-child(1) div:before,
.row:nth-last-child(2) div:before,
.row:nth-last-child(3) div:before{
    background: darkred;
}
.row div:before{
    content: '';
    width: 90%;
    height: 90%;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
