@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i");
@font-face {
  font-family: "GothamBook";
  src: url("../fonts/gotham/book/GothamBook.eot") format("eot"), url("../fonts/gotham/book/GothamBook.woff") format("woff"), url("../fonts/gotham/book/GothamBook.ttf") format("truetype");
}
@font-face {
  font-family: "GothamMedium";
  src: url("../fonts/gotham/medium/GothamMedium.woff2") format("woff2"), url("../fonts/gotham/medium/GothamMedium.woff") format("woff"), url("../fonts/gotham/medium/GothamMedium.ttf") format("truetype");
}
@font-face {
  font-family: "GothamBold";
  src: url("../fonts/gotham/bold/GothamBold.eot") format("eot"), url("../fonts/gotham/bold/GothamBold.woff") format("woff"), url("../fonts/gotham/bold/GothamBold.ttf") format("truetype");
}
body {
  margin: 0;
  color: #2c4058;
}
body a {
  text-decoration: none;
  color: #fff;
}
body li {
  list-style: none;
}
body h2, body h3 {
  font: 44px/1em "GothamBold", Arial, sans-serif;
  text-transform: uppercase;
}
body h2 {
  text-align: center;
  margin-bottom: 100px;
}
body h3 {
  margin: 0;
}
body hr {
  width: 100px;
  height: 1px;
  border: none;
  background-color: #2c4058;
  margin: 0 auto;
}

.wrapper-1170 {
  max-width: 1170px;
  margin: 0 auto;
}

.wrapper-470 {
  max-width: 470px;
}

.wrapper-770 {
  width: 770px;
  margin: 0 auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  clear: both;
}

.cls-2 {
  fill: #ffffff;
}

.hero-section {
  overflow: hidden;
  height: 100vh;
  background: url("../images/hero-bg.jpg") no-repeat, linear-gradient(45deg, #55b7ff, #7e5aff);
  background-size: cover;
}
.hero-section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  position: relative;
}
.hero-section header nav ul {
  padding: 0;
}
.hero-section header nav ul li {
  display: inline-block;
  margin-left: 50px;
}
.hero-section header nav ul li:first-child {
  margin: 0;
}
.hero-section header nav ul li a {
  text-transform: uppercase;
  font: 14px/1em "GothamBook", Arial, sans-serif;
  padding: 10px;
  border: 1px solid transparent;
}
.hero-section header nav ul li a:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 14px;
}
.hero-section .arrow-down {
  position: absolute;
  bottom: 50px;
  left: calc(50% - 20px);
  margin: 0;
}
.hero-section .arrow-down i {
  margin: 0;
}

.circle-socials {
  color: white;
}
.circle-socials a {
  margin-left: 20px;
  display: inline-block;
}
.circle-socials a i {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.header-slider {
  height: calc(100vh - 250px);
}
.header-slider .slide {
  text-transform: uppercase;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
}
.header-slider .slide h1 {
  font: 80px/1em "GothamBold", Arial, sans-serif;
  letter-spacing: 0.05em;
  margin: 0 0 40px;
}
.header-slider .slide span {
  font: 18px/1em "GothamBook", Arial, sans-serif;
  letter-spacing: 0.3em;
}

.header-slider .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.header-slider .slick-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  top: 0;
  right: -30px;
  width: auto;
}
.header-slider .slick-dots li {
  width: 11px;
  height: 11px;
  margin: 40px 5px;
}
.header-slider .slick-dots li button {
  width: 11px;
  height: 11px;
}
.header-slider .slick-dots li button:before {
  width: 9px;
  height: 9px;
  content: "";
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
}
.header-slider .slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: #fff;
}

#projects {
  padding-top: 100px;
}
#projects .project {
  padding: 70px 0 140px;
}
#projects .project .project-img {
  font-size: 0;
}
#projects .project .shadow-left {
  box-shadow: -260px -70px #55b7ff;
}
#projects .project .shadow-right {
  box-shadow: 260px -70px #7e5aff;
}
#projects .project .details {
  padding-top: 60px;
}
#projects .project .details span {
  font: 22px/1em "GothamBook", Arial, sans-serif;
  text-transform: uppercase;
}
#projects .project .details h3 {
  margin-top: 16px;
}
#projects .project .details p {
  font: 18px/30px "Open Sans", Arial, sans-serif;
  margin: 36px 0;
}
#projects .project .details em {
  font: italic 18px/30px "Open Sans", Arial, sans-serif;
  margin-left: 10px;
}
#projects .project .details i {
  margin-top: 60px;
}

.link-button {
  text-transform: uppercase;
  font: 14px/50px "GothamBook", Arial, sans-serif;
  text-align: center;
  color: #2c4058;
  width: 190px;
  border: 1px solid #2c4058;
  display: block;
}

#news {
  background: url("../images/news-bg.jpg") no-repeat, linear-gradient(45deg, #3c7fd4, #24ccfa);
  background-size: cover;
  padding: 140px 0;
}
#news hr {
  background-color: #fff;
}
#news h2 {
  color: #fff;
}
#news .news-slider .slick-dotted.slick-slider {
  margin-bottom: 0;
}
#news .news-slider .slick-dots {
  bottom: -60px;
}
#news .news-slider .slick-dots li {
  width: 11px;
  height: 11px;
  margin: 0 20px;
}
#news .news-slider .slick-dots li button {
  width: 11px;
  height: 11px;
}
#news .news-slider .slick-dots li button:before {
  width: 9px;
  height: 9px;
  content: "";
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
}
#news .news-slider .slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: #fff;
}
#news .news-slider .single-news {
  position: relative;
  font-size: 0;
  width: 370px;
}
#news .news-slider .single-news:after {
  content: url("../images/crossfire.png");
  position: absolute;
  top: 80px;
  left: calc(50% - 40px);
  z-index: -1;
  filter: drop-shadow(0px 0px 3px #000);
}
#news .news-slider .single-news:hover:after {
  z-index: 1;
  transition: 1s ease-in-out;
  transform: scale(1.2);
}
#news .news-slider .single-news .single-news-info {
  width: 370px;
  box-sizing: border-box;
  padding: 30px 20px;
  background-color: #fff;
}
#news .news-slider .single-news .single-news-info h4 {
  margin: 0;
  font: 22px/34px "GothamBold", Arial, sans-serif;
  text-transform: uppercase;
}
#news .news-slider .single-news .single-news-info p {
  font: 18px/30px "Open Sans", Arial, sans-serif;
  margin: 0;
}
#news .news-slider .single-news .single-news-info .user {
  margin-top: 30px;
}
#news .news-slider .single-news .single-news-info .user img {
  display: inline-block;
}
#news .news-slider .single-news .single-news-info .user .user-info {
  display: inline-block;
  margin: 8px 0 8px 20px;
  vertical-align: top;
}
#news .news-slider .single-news .single-news-info .user .user-info h5 {
  font: 18px/22px "GothamBook", Arial, sans-serif;
  margin: 0;
  text-transform: uppercase;
}
#news .news-slider .single-news .single-news-info .user .user-info span {
  font: 14px/22px "GothamBook", Arial, sans-serif;
  color: #55b7ff;
}

#gallery {
  padding: 140px 0;
}
#gallery .gallery-grid {
  margin-bottom: 100px;
  font-size: 0;
}
#gallery .gallery-grid .row-2 {
  display: inline-block;
  width: 100%;
}
#gallery .gallery-grid > .row-2 > .col:last-child {
  padding: 0;
}
#gallery .gallery-grid > .col {
  padding: 0;
}
#gallery .gallery-grid .row-2 > .col {
  width: 50%;
  padding: 5px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}
#gallery .gallery-grid .col > img {
  width: 100%;
}
#gallery .link-button {
  margin: 0 auto;
}
#gallery .col:not(.inner):after {
  content: url("../images/360.png");
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  z-index: -1;
  filter: drop-shadow(0px 0px 5px #000);
}
#gallery .col:hover:after {
  z-index: 1;
  transition: 0.5s ease-in-out;
  transform: rotate(360deg);
}

#contact {
  position: relative;
}
#contact #g-map {
  max-width: 100vw;
  height: 700px;
}
#contact #g-map .info-map {
  height: 100%;
}
#contact .contact-form {
  position: absolute;
  bottom: -150px;
  left: calc(50vw - 370px);
}
#contact .contact-form .wrapper-770 {
  padding: 60px 0 80px;
  background-color: #fff;
}
#contact .contact-form .wrapper-770 .contacts {
  float: left;
}
#contact .contact-form .wrapper-770 .contacts p {
  margin: 0 0 40px 60px;
}
#contact .contact-form .wrapper-770 .contacts p i {
  color: #7e5aff;
}
#contact .contact-form .wrapper-770 .contacts p em {
  font: 18px/22px "GothamBook", Arial, sans-serif;
  margin-left: 5px;
  color: #2c4058;
}
#contact .contact-form .wrapper-770 .contacts p:last-child {
  margin-bottom: 0;
}
#contact .contact-form .wrapper-770 form {
  margin-right: 60px;
  float: right;
  width: 300px;
}
#contact .contact-form .wrapper-770 form input:not([type=submit]) {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  font: 18px/1em "GothamBook", Arial, sans-serif;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
#contact .contact-form .wrapper-770 form input[type=submit] {
  float: right;
}
#contact .contact-form .wrapper-770 form .link-button {
  background-color: #fff;
}

footer {
  background: url("../images/footer-bg.jpg") no-repeat, linear-gradient(45deg, #55b7ff, #7e5aff);
  background-size: cover;
  padding: 200px 0;
}
footer .circle-socials {
  float: right;
}
footer .copyrights {
  margin-top: 40px;
}
footer .copyrights span {
  margin-top: 40px;
  font: 14px/1em "GothamBook", Arial, sans-serif;
  color: #fff;
}
footer .copyrights span:first-child {
  padding-right: 20px;
  border-right: 1px solid #fff;
}
footer .copyrights span:last-child {
  margin-left: 20px;
}

a:hover i {
  color: #55b7ff;
}

.hero-section nav a:hover {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 12px;
  box-sizing: border-box;
}
.hero-section nav a:hover:before {
  background-color: #fff;
}

.link-button:hover {
  background-color: #55b7ff !important;
  color: #fff;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
