.relative {
  width: 400px;
  height: 400px;
  background-color: #ccc;
  margin: 30px;
  display: inline-flex;
  vertical-align: top; //dont move with baseline for text
  .child {
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: #333;
    color: #fff;
    //position: relative;
    //left: 20px;
    //transition: 0.5s 0.5s linear;                              //for all properties
    //transition-property: transform, background, font-size;
    //transition: transform 0.5s 0.5s linear;
    //transition: background 1s 1s linear;
    //transition: font-size 2s 2s linear;

    transition: transform 0.5s 0.5s linear, background 1s 1s linear, font-size 2s 2s ease;
  }
  &:nth-child(1):hover .child {
    transform: translate(50px, 100px);
  }
  &:nth-child(2):hover .child {
    transform: translate(50px, -50px);
  }
  &:nth-child(3) .child {
    transform-origin: 0 0;
  }
  &:nth-child(3):hover .child {
    transform: rotate(30deg);
    background-color: red;
    font-size: 100px;
  }
  &:nth-child(4):hover .child {
    transform: skew(20deg, 20deg);
  }
  &:nth-child(5):hover .child {
    transform: scale(1.2);
  }
  //&:nth-child(6):hover .child {
  //  //transform: ;
  //}
  //&:nth-child(7):hover .child {
  //  //transform: ;
  //}
  //&:nth-child(8):hover .child {
  //  //transform: ;
  //}
  //&:nth-child(9):hover .child {
  //  //transform: ;
  //}
  //&:nth-child(10):hover .child {
  //  //transform: ;
  //}
  //&:nth-child(11):hover .child {
  //  //transform: ;
  //}
  //&:nth-child(12):hover .child {
  //  //transform: ;
  //}
}

.line {
  height: 240px;
  background-color: #bbb;
  .ball {
    height: 80px;
    width: 80px;
    background-color: #222;
    border-radius: 50%;
    animation: ballJumping 5s 0.5s linear infinite alternate;
  }
}

@keyframes ballJumping {
  //0% {
  //  transform: translate(0, 0);
  //}
  20% {
    transform: translate(120px, 120px);
  }
  40% {
    transform: translate(240px);
  }
  60% {
    transform: translate(360px, 120px);
  }
  80% {
    transform: translate(480px);
  }
  100% {
    transform: translate(calc(100% - 80px), 120px);
  }
}

.transform-center {
  height: 400px;
  width: 400px;
  background-color: #ccc;
  position: relative;
  .child {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #333;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.transform-3d {
  width: 400px;
  height: 400px;
  background-color: #ccc;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  & > div {
    height: 200px;
    width: 200px;
    position: absolute;
    //backface-visibility: hidden;
    transition: all 1s;
  }
  .child {
    background-color: #333;
    img {
      background-color: black;
      height: 100%;
      z-index: 1;
      position: absolute;
    }
    .bg {
      background-color: #00bf00;
      background: linear-gradient(#e66465, #9198e5);
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  &:hover > .child {
    //transform: perspective(900px) rotate3d(360, -45, 0, -135deg); //wtf amazing hover lags?
    transform: rotateY(180deg);
  }
}


// dont work last animation