body {
  &.align-items-top{
    align-items: flex-start;
  }
  font: 300 16px/1.2 "Roboto", sans-serif;
  background: #003056 url(https://alexcss.github.io/playlist//img/816831.jpg);
  background-size: cover;
  color: #574d72;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  main {
    //width: 100%;
  }
  #play-list {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 20px 15px;
    background-color: #fff;
    div {
      padding: 7px 0;
      border-top: 1px solid #888888;
      position: relative;
    }
    h1 {
      text-align: center;
    }
    .author {
      margin-left: 10px;
      color: #888888;
      text-transform: capitalize;
      display: inline-block;
    }
    .duration {
      padding-right: 10px;
      color: #888888;
      border-right: 1px solid #888888;
    }
    h3 {
      text-transform: capitalize;
      margin: 0;
      margin-top: 12px;
    }
    .favorite {
      position: absolute;
      top: calc(50% - 15px);
      right: 0;
      &:hover, &.selected {
        cursor: pointer;
        .heart {
          fill: #ed5e75;
        }
      }
    }
  }
}
