section {
    background: #333;
    margin: 100px auto;
    width: 400px;
}

section div {
    background: #ccc;
    height: 400px;
    display: inline-block;
    margin: 20px;
    padding: 50px;
}

p {
    width: 200px;
    height: 400px;
    background: lightgreen;
    margin: 30px auto;
    padding: 20px;
    /* box-sizing: border-box; */
    border: 10px solid red;
    overflow: auto;
}