.row {
    /*height: 700px;*/
    display: flex;
    justify-content: space-between ;
    /*align-items: center;*/
    /*flex-direction: row-reverse;*/
    flex-wrap: wrap;
    /*align-content: center;*/
}
.col {
    min-height: 100px;
    border: 1px solid black;
    padding: 10px;
    /*width: 25%;*/
    /*margin: 10px;*/
    width: 22%;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .col:nth-child(3) {
        order: 2;
        flex-basis: 80%;
        flex-grow: 1;
    }

    .col:nth-child(1),.col:nth-child(4) {
        order: 1;
    }

    }.col:nth-child(2) {
         flex-basis: 80%;
         flex-grow: 1;
    }
}